p{
font-family: 'Raleway', sans-serif;
font-weight: 300;
}

.navbar-default{
  border-color: transparent;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #FFF;
  background-color: rgba( 17, 17, 17, .5);
}
.navbar-default .navbar-nav>li>a{
  color:#FFF;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #F8512F;
  background-color: rgba( 0, 0, 0, .3);
}
.btn{
  background-color: #F8512F;
  color: white;
  border: none;
}

.first-slide{
  background-image: url("../img/wood-2.jpg");

}
.carousel-inner .item{
  min-height:100vh;
  background-size: cover;
  background-position: center;
}
.slide-logo{
  max-height: 300px;
}
.second-slide{
  background-image: url("../img/restaurant-2.jpg");
}
.third-slide{
  background-image: url("../img/farm-2.jpg");
}
#our_story{
min-height: 500px;
display: flex;
align-items: center;
}
#our_story h1{
  font-family: 'Lobster', cursive;
  color: #F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#our_story h2{
position: absolute;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-size: 12em;
color: rgba(149, 147, 147, .2);
z-index: -1;
}
#our_story h3{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 2em;
margin-top: 0;
}
#review{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#review h1{
  font-family: 'Lobster', cursive;
  color: #F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#review p{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#review .container{
  background-color: rgba(20,20,20,.6);
  padding: 10px;
  border-radius: 5px;
}
#menu{
  background-image: url('../img/black_linen.png');
  background-size: cover;
  min-height: 600px;
}
}
#menu h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#menu a{
  color: #F8512F;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#menu .tab-content .row{
  margin:0;
}
#menu .tab-content .food{
  background-color: #FFF;
  padding: 10px;
}
#contact{
  background-color: #F8512F;
  min-height: 600px;
  color: #fff;
  padding-bottom: 50px;
}
#contact h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 50px;
}
#contact form{
  background-color: #ff6633;
  border: 1px solid #fff;
  padding: 15px;
}

#contact .form-group span{
  color: #ff0d06;
}
.address{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
* {
  color: red;
}
